@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Visit me on <a href="https://github.com/activnykonch/ITransition">Git Hub</a>.</p>
</div>
